
*
{
background-color: mediumaquamarine
 }
 
 #contenedorTitulo{
     Color:brown;
     text-align: center;
 }
 
 .botonMenu{
     Color:brown;
     background-color: beige;
     border-color: brown;
     
 }
 
